doctype html
html
  head
    title jQuery Dynamic Form
    script(src='/assets/lib/jquery/jquery.js')
    script(src='/assets/js/app.js')
  body
    h1 jQuery Dynamic Form
    div(class='dynamic-form')
